.bilhete-box-item {
  background: url("/assets/img/bilhete_2.png")
    no-repeat;
  width: 324;
  height: 576;
}

.ticket-number {
  margin-bottom: 51px;
  margin-left: 178px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  font-weight: bold;
  color: #fff;
}
